<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multiple.ds.mapper.BaseNoteMapper">

    <resultMap id="baseMap" type="com.multiple.ds.entity.BaseNote">
        <id column="note_id" property="noteId" jdbcType="BIGINT"/>
        <result column="provider_id" property="providerId" jdbcType="INTEGER"/>
        <result column="subject" property="subject" jdbcType="VARCHAR"></result>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="send_time" property="sendTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="baseSql">
        note_id, provider_id, subject, content, send_time
    </sql>

    <insert id="insert" parameterType="com.multiple.ds.entity.BaseNote">
        insert into base_note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="providerId != null">
                provider_id,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="providerId != null">
                #{providerId},
            </if>
            <if test="subject != null">
                #{subject},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="sendTime != null">
                #{sendTime},
            </if>
        </trim>
    </insert>

    <select id="queryByNoteId" resultMap="baseMap">
        select
        <include refid="baseSql"/>
        from base_note where note_id = #{noteId}
    </select>
</mapper>